<% content_for :sidebar do %>
  <div id="mobile-sidebar" class="hide-for-large-up">
    <div class="row sidebar-section">
      <div class="small-12 columns">
        <h4 class="light small">Filter</h4>
        <ul class="side-nav">
          <%= content_tag :li, class: ("active" if @filter_selected == "all") do %>
            <%= link_to "Alle", orders_path %>
          <% end %>
          <%= content_tag :li, class: ("active" if @filter_selected == "favorites") do %>
            <a href="<%= marked_orders_path %>">Favoriten <span class="label round"><%= @orders.marked_as_favorite.count %></span></a>
          <% end %>
          <li><%= link_to "Terminlieferungen", "#" %></li>
          <li><%= link_to "Rückstände", marked_orders_path %></li>
        </ul>
      </div>
    </div>
    

    <div class="sidebar-calendar inverted dark">
      <div class="row sidebar-section">
        <div class="small-12 columns">
          <h4 class="light small">Kalender</h4>
          <%= month_calendar table: {class: "calendar"} do |date| %>
            <%= link_to (l date, format: :day_of_month), created_at_orders_path(year: date.year, month: date.month, day: date.day) %>
          <% end %>      
        </div>
      </div>
    </div>      
  </div>
<% end %>