<tr class="contact-item link" href="<%= contact_path(contact) %>" data-id="<%= contact.id %>">
  <td class=""><%= link_to contact.try(:id), contact_path(contact), class: "link" %></td>
	<td><%= link_to contact.name, contact_path(contact), class: "link" %></td>
  <td><%= "Händler" %><br></td>
  <td></td>
  <td class="cell-right">
  	<span data-tooltip class="tip-left" title="Bearbeiten"><%= link_to icon("pencil"), edit_contact_path(contact) %></span>
  </td>
</tr>