<%= content_for :search do %>
	

			<dl class="accordion" data-accordion>
			  <dd>
			    <a href="#search"><%= inline_icon("Suchen", "ion-ios7-search") %></a>
			    <div id="search" class="content">

						<%= search_form_for @search do |f| %>
							
							<div class="row">
								<div class="small-12 medium-6 large-4 columns">

									<h4>Auftrag</h4>

									<%= f.label "Erstellt" %>
									<div class="row">
										<div class="small-6 columns">
					           	<%= f.date_field :created_at_gteq, class: "searchbar-input" %>
										</div>
										<div class="small-6 columns">
					           	<%= f.date_field :created_at_lteq, class: "searchbar-input" %>
										</div>
									</div>
									<p></p>

									<%= f.label "Liefertermin" %>
									<div class="row form-group">
										<div class="small-6 columns">
					           	<%= f.date_field :date_delivery_gteq, class: "searchbar-input" %>
										</div>
										<div class="small-6 columns">
					           	<%= f.date_field :date_delivery_lteq, class: "searchbar-input" %>
										</div>
									</div>
									<p></p>

									<%= f.label "Abgeschlossen" %>
									<div class="row form-group">
										<div class="small-6 columns">
					           	<%= f.date_field :date_completed_gteq, class: "searchbar-input" %>
										</div>
										<div class="small-6 columns">
					           	<%= f.date_field :date_completed_lteq, class: "searchbar-input" %>
										</div>
									</div>
									<p></p>


								</div>
							</div>

							<div class="row">
								<div class="small-12 columns">
									<button type="submit" class="ion-ios7-search-strong right"></button>
								</div>
							</div>

			      <% end %>

			    </div>
			  </dd>
			</dl>


<% end %>