<% content_for :actionbar do %>

  <dl class="actions show-for-medium-up">
    <dd><%= link_to toolbar_icon("Neuer Auftrag", "ion-ios7-plus-outline"), new_order_path %></dd>
    <dd><%= link_to @order.marked_toolbar_icon, marked_order_path(@order), method: :put %></dd>
    <dd><%= link_to @order.completed_toolbar_icon, completed_order_path(@order), method: :put %></dd>
  	<dd class="right"><%= link_to toolbar_icon("Löschen", "ion-ios7-trash-outline" ), @order, method: :delete, data: { confirm: "Wirklich löschen? Dieser Vorgang kann nicht rückgängig gemacht werden." } %></dd>
  </dl>

  <a href="#" data-dropdown="mobile-actions" class="show-for-small-only">Aktionen <span class="ion-ios7-arrow-down right"></span></a>
		<ul id="mobile-actions" class="f-dropdown" data-dropdown-content>
		  <li><%= link_to inline_icon("Neuer Auftrag", "ion-ios7-plus-outline"), new_order_path %></li>
		  <li><%= link_to @order.marked_inline_icon, marked_order_path(@order), method: :put %></li>
		  <li><%= link_to @order.completed_inline_icon, completed_order_path(@order), method: :put %></li>
	  </ul>
	</a>

<% end %>