<%= nested_form_for @order, html: { "data-order-id" => @order.id } do |f| %>

	<!-- sidebar -->
	<%= render partial: "orders/edit/sidebar", locals: { f: f } %>

	<div class="row">
		<div class="small-12 columns">

			<% if @order.errors.any? %>

			  <div id="error_explanation">
			    <h4><%= pluralize(@order.errors.count, "error") %> prohibited
			      this post from being saved:</h4>

			    <ul>
				    <% @order.errors.full_messages.each do |msg| %>
				      <div data-alert class="alert-box alert">
				      	<li><%= msg %></li>
				      </div>
				    <% end %>
			    </ul>
			  </div>

			<% end %>

		</div>
	</div>

	<section>
		<div class="row">
			<div class="small-12 medium-9 large-9 columns">
				<div class="contact-panel">
					<h4>H채ndler</h4>
					<div class="fields">
					  <%= f.label :contact_id, "H채ndler" %>
					  <%= f.collection_select(:contact_id, Contact.order(:name), :id, :name, class: "submittable") %>
					</div>
					<div class="row" id="select_addresses">
						<%= render "orders/select_addresses", :f => f %>
					</div>
			  </div>
			</div>
			
			<div class="small-12 medium-3 large-3 columns">
				<h4>Status</h4>
			  <div class="fields">
			    <%= f.label :delivered_on, "Liefertermin" %>
			    <%= f.date_field :delivered_on %>
			  </div>
			  <div class="fields">
			    <%= f.label :completed_at, "Abgeschlossen am" %>
			    <%= f.date_field :completed_at %>
			  </div>
			</div>
		</div>
	</section>

	<section>
		<h4>Schuhe</h4>

		<div id="line_item_target">
			<%= f.fields_for :line_items %>
		</div>
	</section>
	<hr>
	<section>
		<ul class="inline-list">
			<li><%= f.link_to_add icon("add", text: "Artikel hinzuf체gen"), :line_items, :data => { :target => "#line_item_target" }, class: "button" %></li>
		</ul>
	</section>

	<div class="row">
		<div class="small-12 columns">
		  <%= link_to 'Zur체ck', orders_path, class: "button secondary float_left" %>
		  <%= f.submit "Speichern", class: "button right" %>
	  </div>
	</div>
	
<% end %>