<%= nested_form_for @order, remote: true do |f| %>

	<div class="row">
		<div class="small-12 columns">

			<% if @order.errors.any? %>

			  <div id="error_explanation">
			    <h4><%= pluralize(@order.errors.count, "error") %> prohibited
			      this post from being saved:</h4>

			    <ul>
				    <% @order.errors.full_messages.each do |msg| %>
				      <div data-alert class="alert-box alert">
				      	<li><%= msg %></li>
				      </div>
				    <% end %>
			    </ul>
			  </div>

			<% end %>

		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-9 large-9 columns">
			<div class="panel contact-panel">
				<h4>Händler</h4>
				<p>
				  <%= f.label :contact_id, "Händler" %>
				  <%= f.collection_select(:contact_id, Contact.order(:name), :id, :name, class: "submittable") %>
				</p>
				<div class="row" id="select_addresses">
					<%= render "orders/select_addresses", :f => f %>
				</div>
		  </div>
		</div>
		
		<div class="small-12 medium-3 large-3 columns">
			<div class="panel">
			<h4>Status</h4>
		  <p>
		    <%= f.label :date_delivery, "Liefertermin" %>
		    <%= f.date_field :date_delivery %>
		  </p>
		  <p>
		    <%= f.label :date_completed, "Abgeschlossen am" %>
		    <%= f.date_field :date_completed %>
		  </p>
		  </div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">

			<div class="panel">

				<h3>Schuhe</h3>
				<div id="line_item_target">
					<%= f.fields_for :line_items %>
				</div>

				<div class="toolbar-bottom">
					<%= f.link_to_add "", :line_items, :data => { :target => "#line_item_target" }, class: "ion-plus-circled ion-big" %>
				</div>

			</div>

		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
		  <%= link_to 'Zurück', orders_path, class: "button secondary float_left" %>
		  <%= f.submit "Speichern", class: "button right" %>
	  </div>
	</div>

<% end %>