<a href="#" class="ion-ios7-search toolbar ion-big" data-dropdown="search_form"></a>
<div id="search_form" data-dropdown-content class="f-dropdown content">
  <%= search_form_for @search do |f| %>
    <%= f.label "Auftragsnummer" %>
    <%= f.text_field :id %>
    <%= f.label "Händler" %>
    <%= f.text_field :billing_name %>
    <%= f.submit "Suchen", class: "button right" %>
  <% end %>
</div>