<!-- toolbar -->

<%= render "orders/toolbar/index" %>

<!-- title bar -->

<% content_for :title_bar do %>
  <div class="row">
    <div class="small-12 columns">
      <h1 class="page-heading">Aufträge</h1>
    </div>
  </div>

  <!-- filter -->

  <dl class="sub-nav">
    <dt>Filter:</dt>
    <%= content_tag :dd, class: ("active" if @filter_selected == "all") do %>
      <%= link_to "Alle", orders_path %>
    <% end %>
    <%= content_tag :dd, class: ("active" if @filter_selected == "favorites") do %>
      <%= link_to "Favoriten (#{@orders.marked_as_favorite.count})", marked_orders_path %>
    <% end %>
    <dd><%= link_to "Terminlieferungen", "#" %></dd>
    <dd><%= link_to "Rückstände", marked_orders_path %></dd>
  </dl>

<% end %>

<!-- main content -->

<% content_for :main_content do %>
  
    <!-- order items -->
  
    <% @orders.each do |o| %>
      <div class="row">
        <div class="small-12 columns">
          <h4><%= link_to o.contact.name, order_path(o) %> <small><%= o.subtitle %></small></h4>
          <div class="row">
            <div class="small-12 columns">
              <% o.line_items.each do |li| %>
                <span class="label <%= li.product.try(:sku) %>"><%= li.quantity_badge %></span>
              <% end %>
            </div>
          </div>
          <hr>    
        </div>
      </div>
    <% end %>

<% end %>