<!-- toolbar -->
<%= render "orders/index/toolbar" %>

<!-- search -->
<%= render "orders/index/search" %>

<!-- title bar -->
<% content_for :title_bar do %>
  <div class="row">
    <div class="small-12 columns">
      <h1 class="page-heading">Aufträge</h1>
      <% if @date %>
        <h4 class="page-heading thin">
          <%= l @date, format: :weekday_default %>
        </h4>
      <% end %>
    </div>
  </div>
<% end %>

<!-- Secondary Sidebar -->

<%= render "orders/index/sidebar" %>

<!-- main content -->

<% content_for :main_content do %>

  <div class="row">    
    <div class="small-12 columns">


      <%= render partial: "orders/index/table_orders" %>


    </div>
  </div>

<% end %>