<!-- search -->
<%= render "orders/index/search" %>

<!-- toolbar -->
<%= render "orders/show/toolbar" %>

<!-- title bar -->
<% content_for :title_bar do %>
  <div class="row">
    <div class="small-12 columns">
      <section>
        <h1><%= @order.id %></h1>
      </section>
    </div>
  </div>
<% end %>

<!-- Secondary Sidebar -->

<%= render "orders/show/sidebar" %>

<!-- main content -->

<% content_for :main_content do %>

  <div class="row">
    <div class="small-12 columns">

      <div class="section">

      <div class="row">
        <div class="small-12 columns">

            <div class="row">
              <div class="small-12 columns">
                <h4><%= @order.try(:billing_name) %></h4>
                <hr>
              </div>
            </div>

            <div class="row">
              <div class="small-12 medium-6 large-6 columns">
                <p>
                  <label>Rechnungsanschrift</label>
                  <%= @order.try(:billing_name) %><br>
                  <%= @order.try(:billing_street) %> <%= @order.try(:billing_house_number) %></br>
                  <%= @order.try(:billing_zip) %> <%= @order.try(:billing_city) %></br>
                  <%= @order.try(:billing_country) %>
                </p>
              </div>

              <div class="small-12 medium-6 large-6 columns">
                <p>
                  <label>Lieferanschrift</label>
                  <%= @order.try(:delivery_name) || "-" %><br>
                  <%= @order.try(:delivery_street) %> <%= @order.try(:delivery_house_number) %></br>
                  <%= @order.try(:delivery_zip) %> <%= @order.try(:delivery_city) %></br>
                  <%= @order.try(:delivery_country) %>
                </p>
              </div>
            </div>  

        </div>
      </div>

      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="section">
            <% @order.line_items.each do |li| %>
              <%= render partial: "orders/show/line_item", locals: { :li => li } %>
            <% end %>
          </div>

        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="small-12 medium-3 large-3 columns">
      <%= link_to "Zurück", orders_path, class: "button secondary expand" %>
    </div>
    <div class="small-12 medium-3 large-3 columns right">
      <%= link_to "Bearbeiten", edit_order_path, class: "button expand" %>
      <%= button_to "Löschen", @order, method: :delete, data: { confirm: "Wirklich löschen?" }, class: "button alert expand" %>
    </div>
  </div>

<% end %>