<div class="row">
	<%= nested_form_for @contact do |f| %>

		<% if @contact.errors.any? %>
		  <div id="error_explanation">
		    <h4><%= pluralize(@contact.errors.count, "error") %> haben das Speichern dieses Kontakts verhindert:</h4>
		    <ul>
		    <% @contact.errors.full_messages.each do |msg| %>
		      <div data-alert class="alert-box alert">
		      	<li><%= msg %></li>
		      </div>
		    <% end %>
		    </ul>
		  </div>
		<% end %>

		<div class="small-6 columns">
			<fieldset>
				<legend>Kontakt</legend>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</fieldset>
		</div>

		<div class="small-6 columns">
			<fieldset>
				<legend>Adressen</legend>
				<%= f.fields_for :addresses %>
				<%= f.link_to_add "Anschrift hinzufügen", :addresses, class: "tiny button" %>
			</fieldset>
		</div>

		<div class="small-12 medium-12 large-12 columns">
		  <p>
		  	<%= link_to 'Zurück', contacts_path, class: "button secondary float_left" %>
		    <%= f.submit "Speichern", class: "button float_right" %>
		  </p>
	  </div>

	<% end %>
</div>