<% @section = "Kontakte" %>

<!-- search -->

<%= render "contacts/search" %>

<!-- toolbar -->

<%= render "contacts/index/toolbar" %>

<!-- title -->

<% content_for :title_bar do %>
  <h1 class="page-heading">Kontakte</h1>
<% end %>

<!-- sidebar -->

<%= render "contacts/index/sidebar" %>

<!-- content -->

<% content_for :main_content do %>
    
  <% @contacts.sort_by{|e| e[:name]}.each do |c| %>
    <div class="row">
      <div class="small-12 columns">
        <div class="item">
          <h4><%= link_to c.name, contact_path(c) %></h4>
          <span class="small light push-up"><%= c.addresses.first.full_address(1)%></span>
            <% if c.addresses.count - 1 > 0 %>
              <span class="light small"><%= "(+#{c.addresses.count - 1})" %></span>
            <% end %>
          <hr>
          <ul class="small-icon-list">
            <li><%= link_to square_icon("ion-ios7-cart-outline"), "#" %></li>
            <li><%= link_to square_icon("ion-ios7-email-outline"), "#" %></li>
            <li><%= link_to square_icon("ion-ios7-chatboxes-outline"), "#" %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

<% end %>