<% @section = "Kontakte" %>

<!-- HEADER -->

<% content_for :breadcrumbs do %>
  <div class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs">
        <li><%= link_to "Home", "/" %></li>
        <li><%= render "/layouts/breadcrumbs/sections" %></li>    
      </ul>
    </div>
  </div>
<% end %>

<% content_for :title_bar do %>
  <div class="row">
    <div class="large-9 small-9 columns">
      <h1 class="page-heading">Kontakte</h1>
    </div>
    <div class="large-3 small-12 columns">
      <ul class="inline-list right">
        <li>
          <%= render "contacts/search" %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<!-- End Header -->

<!-- MAIN CONTENT -->

<% content_for :main_content do %>
  
    <!-- Quick Filter -->

    <%= render "products/quickfilter" %>

    <!-- End Quickfilter -->

    <!-- Contact Items -->
  
    <% @contacts.each do |c| %>
      <div class="row">
        <div class="small-12 columns">
          <h3><%= link_to c.name, contact_path(c) %></h3>
          <hr>    
        </div>
      </div>
    <% end %>

    <!-- End Contact Items -->

<% end %>