<!-- search -->
<%= render "contacts/search" %>

<!-- toolbar -->
<%= render "contacts/show/toolbar" %>

<!-- title -->
<% content_for :title_bar do %>
  <h1 class="page-heading"><%= @contact.name %></h1>
<% end %>

<!-- sidebar -->

<%= render "contacts/show/sidebar" %>

<!-- MAIN CONTENT -->

<% content_for :main_content do %>

  <div class="row">
    <div class="small-12 columns">

      <dl class="tabs" data-tab>
        <dd class="tab-title active"><a href="#panel1-1">Überblick</a></dd>
        <dd class="tab-title"><a href="#panel1-2">Verkauf</a></dd>
      </dl>

      <div class="tabs-content">
        <div class="content active" id="panel1-1">
          <%= render "/contacts/show/contact_information" %>
        </div>
        <div class="content" id="panel1-2">
          <%= render "/contacts/charts/order_chart" %>
          <%= render "/contacts/show/tab_orders" %>
        </div>
      </div>

    </div>
  </div>
  
  <hr>

  <div class="row">
    <div class="small-12 medium-4 large-6 columns">
      <ul class="inline-list">
        <li><%= link_to 'Zurück', contacts_path, class: "button secondary left" %></li>
      </ul>
    </div>
    <div class="small-12 medium-8 large-6 columns">
      <ul class="inline-list right">
        <li><%= link_to "Löschen", @contact, data: { confirm: "Wirklich löschen?" }, method: :delete, class: "button alert" %></li>
        <li><%= link_to "Bearbeiten", edit_contact_path, class: "button" %></li>
      </ul>
    </div>
  </div>

<% end %>