<% @section = "Kontakte" %>

<!-- HEADER -->

<% content_for :breadcrumbs do %>
  <div class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs">
        <li><%= link_to "Home", "/" %></li>
        <li><%= render "/layouts/breadcrumbs/sections" %></li>
        <li><%= render "/layouts/breadcrumbs/contact_items" %></li>
      </ul>
    </div>
  </div>
<% end %>

<% content_for :title_bar do %>
  <div class="row">
    <div class="large-9 small-9 columns">
      <h1 class="page-heading"><%= @contact.name %></h1>
    </div>
    <div class="large-3 small-3 columns">
      <ul class="inline-list right">
        <li>
          <h2><%= link_to '', new_contact_path, class: "ion-ios7-plus-outline toolbar" %></h2>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<!-- End Header -->

<!-- MAIN CONTENT -->

<% content_for :main_content do %>
  
  <div class="row">
    <div class="small-12 medium-6 large-6 columns">
      <h3>Allgemeine Daten</h3>
      <p>
        <label>Name</label>
        <%= @contact.name %>
      </p>
    </div>

    <div class="small-12 medium-6 large-6 columns">
      <h3>Adressen / Filialen</h3>
      <% @contact.addresses.each do |c| %>
        <h5><%= c.description %></h5>
        <p>
          <%= c.name %><br>
          <%= c.street + ' ' + c.house_number %></br>
          <%= c.zip + ' ' + c.city %></br>
          <%= c.country %></br>
        </p>
        <hr>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 large-6 columns">
      <ul class="inline-list">
        <li><%= link_to 'Zurück', contacts_path, class: "button secondary left" %></li>
      </ul>
    </div>
    <div class="small-12 medium-8 large-6 columns">
      <ul class="inline-list right">
        <li><%= link_to "Löschen", @contact, confirm: "Wirklich löschen?", method: :delete, class: "button alert" %></li>
        <li><%= link_to "Bearbeiten", edit_contact_path, class: "button" %></li>
      </ul>
    </div>
  </div>

<% end %>