<!-- End Navigation -->

<!-- Header -->

<% content_for :title_bar do %>
  <div class="row">
    <div class="large-9 small-9 columns">
      <h1>Attribute</h1>
    </div>
    <div class="large-3 small-3 columns">
      <ul class="inline-list right">
        <li>
          <h2><%= link_to '', new_product_path, class: "ion-ios7-plus-outline toolbar" %></h2>
        </li>
        <li>
          <h2><%= link_to '', new_product_path, class: "ion-ios7-search toolbar" %></h2>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<!-- Side Bar -->

<%= render "products/sidebar" %>

<!-- End Side Bar -->

<% content_for :main_content do %>
  
  <div class="large-10 medium-10 columns">

    <% @variation_sets.each do |variation_set| %>
      <div class="row">
        <div class="columns">
          <h3><%= variation_set.name %></h3>
          <ul class="inline-list">
            <% variation_set.variations.each do |variation| %>
              <li><span class="label radius"><%= variation.name %></li>
            <% end %>
          </ul>
          <ul class="inline-list">
            <li><%= link_to "Anzeigen", variation_set, class: "tiny button" %></lI>
            <li><%= link_to "Bearbeiten", edit_variation_set_path(variation_set), class: "tiny button" %></lI>
            <li><%= button_to "Löschen", variation_set, method: :delete, confirm: "Are you sure?", class: "tiny button alert" %></li>
          </ul>
        </div>
      </div>
    <% end %>

  </div>

<% end %>