    <h4>Adressen & Filialen</h4>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid large-block-grid-4">
      <% @contact.addresses.each do |c| %>
        <li>

          <label><%= c.description %></label>
          <p>
            <%= c.name %><br>
            <%= c.street + ' ' + c.house_number %></br>
            <%= c.zip + ' ' + c.city %></br>
            <%= c.country %></br>
          </p>

        </li>
      <% end %>
    </ul>
    
    <h4>Kontaktdaten</h4>
    
    <div class="row">
      <div class="small-12 medium-4 columns">
        <label>Telefon</label>
        <ul class="no-bullet">
          <% @contact.contact_information.phone.each do |ci| %>
            <li><span class="inline-label light"><%= "#{ci.name} " %></span><%= ci.value %></li>
          <% end %>
        </ul>
      </div>

      <div class="small-12 medium-4 columns">
        <label>E-Mail</label>
        <ul class="no-bullet">
          <% @contact.contact_information.email.each do |ci| %>
            <li><%= ci.value %></li>
          <% end %>
        </ul>
      </div>

      <div class="small-12 medium-4 columns">
        <label>Personen</label>
        <ul class="no-bullet">
          <% @contact.contact_information.people.each do |ci| %>
            <li><span class="inline-label light"><%= "#{ci.name} " %></span><%= ci.value %></li>
          <% end %>
        </ul>
      </div>

    </div>