<% content_for :actionbar do %>

  <dl class="actions show-for-medium-up">
    <dd><%= link_to toolbar_icon("Neuer Auftrag", "ion-ios7-plus-outline"), new_order_path %></dd>
    <dd><%= link_to @order.marked_icon, marked_order_path(@order), method: :put %></dd>
    <dd><%= link_to @order.completed_icon, completed_order_path(@order), method: :put %></a></dd>
  </dl>

  <a href="#" data-dropdown="mobile-actions" class="show-for-small-only">Aktionen <span class="ion-ios7-arrow-down right"></span></a>
		<ul id="mobile-actions" class="f-dropdown" data-dropdown-content>
		  <li><%= link_to toolbar_icon("Neuer Auftrag", "ion-ios7-plus-outline"), new_order_path %></li>
		  <li><a href="#"><%= @order.marked_icon %></a></li>
		  <li><a href="#"><%= @order.completed_icon %></a></li>
	  </ul>
	</a>

<% end %>