<div class="row">
	<div class="small-12 columns">

			<div class="row">
				<div class="small-9 columns">
					<h4><div class="<%= "color-tile #{li.product.sku}" %>"></div> <%= li.product.name %></h4>
					<ul class="inline-list small light">
						<li>
							<span>Artikelnummer: <%= li.product.sku %></span>
						</li>
						<li>
							<span>Farbe: <%= li.product.color_text %></span>
						</li>
						<li>
							<span>Preis: <%= number_to_currency(li.product.price) %></span>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="small-10 columns">
					<ul class="small-block-grid-10 medium-block-grid-15 large-block-grid-30 size-row push-up">
						<li>
							<%= label :g1, li.get_size("g1") %>
							<p><%= li.g1 %></p>
						</li>
						<li>
							<%= label :g1h, li.get_size("g1h") %>
							<p><%= li.g1h %></p>
						</li>
						<li>
							<%= label :g2, li.get_size("g2") %>
							<p><%= li.g2 %></p>
						</li>
						<li>
							<%= label :g2h, li.get_size("g2h") %>
							<p><%= li.g2h %></p>
						</li>
						<li>
							<%= label :g3, li.get_size("g3") %>
							<p><%= li.g3 %></p>
						</li>
						<li>
							<%= label :g3h, li.get_size("g3h") %>
							<p><%= li.g3h %></p>
						</li>
						<li>
							<%= label :g4, li.get_size("g4") %>
							<p><%= li.g4 %></p>
						</li>
						<li>
							<%= label :g4h, li.get_size("g4h") %>
							<p><%= li.g4h %></p>
						</li>
						<li>
							<%= label :g5, li.get_size("g5") %>
							<p><%= li.g5 %></p>
						</li>
						<li>
							<%= label :g5h, li.get_size("g5h") %>
							<p><%= li.g5h %></p>
						</li>
						<li>
							<%= label :g6, li.get_size("g6") %>
							<p><%= li.g6 %></p>
						</li>
						<li>
							<%= label :g6h, li.get_size("g6h") %>
							<p><%= li.g6h %></p>
						</li>
						<li>
							<%= label :g7, li.get_size("g7") %>
							<p><%= li.g7 %></p>
						</li>
						<li>
							<%= label :g7h, li.get_size("g7h") %>
							<p><%= li.g7h %></p>
						</li>
						<li>
							<%= label :g8, li.get_size("g8") %>
							<p><%= li.g8 %></p>
						</li>
						<li>
							<%= label :g8h, li.get_size("g8h") %>
							<p><%= li.g8h %></p>
						</li>
						<li>
							<%= label :g9, li.get_size("g9") %>
							<p><%= li.g9 %></p>
						</li>
						<li>
							<%= label :g9h, li.get_size("g9h") %>
							<p><%= li.g9h %></p>
						</li>
						<li>
							<%= label :g10, li.get_size("g10") %>
							<p><%= li.g10 %></p>
						</li>
						<li>
							<%= label :g10h, li.get_size("g10h") %>
							<p><%= li.g10h %></p>
						</li>
						<li>
							<%= label :g11, li.get_size("g11") %>
							<p><%= li.g11 %></p>
						</li>
						<li>
							<%= label :g11h, li.get_size("g11h") %>
							<p><%= li.g11h %></p>
						</li>
						<li>
							<%= label :g12, li.get_size("g12") %>
							<p><%= li.g12 %></p>
						</li>
						<li>
							<%= label :g12h, li.get_size("g12h") %>
							<p><%= li.g12h %></p>
						</li>
						<li>
							<%= label :g13, li.get_size("g13") %>
							<p><%= li.g13 %></p>
						</li>
						<li>
							<%= label :g13h, li.get_size("g13h") %>
							<p><%= li.g13h %></p>
						</li>
						<li>
							<%= label :g14, li.get_size("g14") %>
							<p><%= li.g14 %></p>
						</li>
						<li>
							<%= label :g14h, li.get_size("g14h") %>
							<p><%= li.g14h %></p>
						</li>
						<li>
							<%= label :g15, li.get_size("g15") %>
							<p><%= li.g15 %></p>
						</li>
						<li>
							<%= label :g16, li.get_size("g16") %>
							<p><%= li.g16 %></p>
						</li>
					</ul>
				</div>

				<div class="small-2 columns">
					<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2" id="totals">
						<li>
							<%= label(:line_item, :quantity, "Gesamt" ) %>
							<span class="quantity" id="quantity"><%= li.quantity %></span>
						</li>
						<li>
							<%= label(:line_item, :price, "Summe" ) %>
							<span id="price_total"><%= number_to_currency(li.try(:price_total), unit: "€ ") %></span>
						</li>							
					</ul>
				</div>

			</div>
	<hr>
	</div>
</div>