<%= nested_form_for @product, :html => { :multipart => true } do |f| %>
	<% if @product.errors.any? %>
	  <div id="error_explanation">
	    <h4><%= pluralize(@product.errors.count, "error") %> prohibited
	      this post from being saved:</h4>
	    <ul>
	    <% @product.errors.full_messages.each do |msg| %>
	      <div data-alert class="alert-box alert">
	      	<li><%= msg %></li>
	      </div>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	
	<div class="large-6 medium-6 small-12 columns">

		<fieldset>
			<legend>Allgemein</legend>
		  <p>
		    <%= f.label :name %>
		    <%= f.text_field :name, :placeholder => "z.B. Adagio W" %>
		  </p>
		 
		  <p>
		    <%= f.label :sku, "Artikelnummer" %>
		    <%= f.text_field :sku, :placeholder => "z.B. GLS100AAS" %>
		  </p>

		  <p>
		    <%= f.label :color_text, "Farbe" %>
		    <%= f.text_field :color_text, :placeholder => "z.B. Anthrazit/Schwarz" %>
		  </p>

		  <p>
		    <%= f.label :variation_set_id, "Größensystem" %>
		    <%= collection_select(:product, :variation_set_id, VariationSet.all, :id, :name) %>
		  </p>
		</fieldset>
		
		<fieldset>
			<legend>Preis</legend>
		  <p>
		    <%= f.label :price, "Preis zzgl. MwSt." %>
		    <div class="row collapse">
		    	<div class="small-10 columns">
		    		<%= f.number_field :price, :placeholder => "z.B. 200", :step => "10" %>
		    	</div>
					<div class="small-2 columns">
			    	<span class="postfix">€</span>
			    </div>
		    </div>
		  </p>

		  <p>
		    <%= f.label :vat, "MwSt." %>
		    <%= f.number_field :vat, :step => "0.01" %>
		  </p>
		</fieldset>

	</div>

	<div class="small-12 medium-6 large-6 columns">
		<fieldset>
			<legend>Bilder</legend>
			<%= f.fields_for :product_images %>
			<%= f.link_to_add "Add", :product_images, class: "tiny button" %>
		</fieldset>
	</div>
	
	<div class="small-12 mediuzm-12 large-12 columns">
  <p>
  	<%= link_to 'Zurück', products_path, class: "button secondary float_left" %>
    <%= f.submit "Speichern", class: "button float_right" %>
  </p>
  </div>

<% end %>