<div class="row">
	<div class="small-12 columns">

		<%= nested_form_for @product, :html => { :multipart => true } do |f| %>

			<div class="row">
				<div class="small-12 columns">

					<% if @product.errors.any? %>
					  <div id="error_explanation">
					    <h4><%= pluralize(@product.errors.count, "error") %> prohibited
					      this post from being saved:</h4>
					    <ul>
					    <% @product.errors.full_messages.each do |msg| %>
					      <div data-alert class="alert-box alert">
					      	<li><%= msg %></li>
					      </div>
					    <% end %>
					    </ul>
					  </div>
					<% end %>

				</div>
			</div>

			<div class="row">
				<div class="small-12 medium-9 large-9 columns">
					<div class="section">

						<h4>Allgemein</h4>
					  <p>
					    <%= f.label :name %>
					    <%= f.text_field :name, :placeholder => "z.B. Adagio W" %>
					  </p>
					 
					  <p>
					    <%= f.label :sku, "Artikelnummer" %>
					    <%= f.text_field :sku, :placeholder => "z.B. GLS100AAS" %>
					  </p>

					  <p>
					    <%= f.label :color_text, "Farbe" %>
					    <%= f.text_field :color_text, :placeholder => "z.B. Anthrazit/Schwarz" %>
					  </p>

					  <p>
					    <%= f.label :variation_set_id, "Größensystem" %>
					    <%= f.collection_select(:size_id, Size.all, :id, :name) %>
					  </p>

					</div>

					<div class="section">
						<h4>Darstellung</h4>
						<div class="fields">
							<%= f.label :primary_color, "Primäre Farbe" %>
							<%= f.color_field :primary_color %>
							<%= f.text_field :primary_color %>
						</div>
						<div class="fields">
							<%= f.label :secondary_color, "Sekundäre Farbe" %>
							<%= f.color_field :secondary_color %>
							<%= f.text_field :secondary_color %>
						</div>
					</div>

					<div class="section">

						<h4>Preis</h4>
				    <%= f.label :price, "Preis zzgl. MwSt." %>
				    <div class="row collapse">
				    	<div class="small-10 columns">
				    		<%= f.text_field :price, :placeholder => "z.B. 200", :step => "10" %>
				    	</div>
							<div class="small-2 columns">
					    	<span class="postfix">€</span>
					    </div>
				    </div>

					  <p>
					    <%= f.label :vat, "MwSt." %>
					    <%= f.number_field :vat, :step => "0.01" %>
					  </p>

				  </div>
				</div>
			

				<div class="small-12 medium-3 large-3 columns">
					<div class="panel">

						<h4>Bilder</h4>
						<%= f.fields_for :product_images %>
						<%= f.link_to_add "Add", :product_images, class: "tiny button" %>

					</div>
				</div>
			</div>
			
		<div class="row">
			<div class="small-12 medium-3 large-3 columns">

				<%= link_to 'Zurück', products_path, class: "button secondary expand" %>

		  </div>

		  <div class="small-12 medium-3 large-3 right columns">

		  	<%= f.submit "Speichern", class: "button expand" %>

		  </div>
		</div>

		<% end %>

	</div>
</div>