<% @section = "Artikel" %>

<!-- toolbar -->
<%= render "products/show/toolbar" %>

<!-- title -->
<% content_for :title_bar do %>
  <h1 class="page-heading"><%= @product.name %> <span class="light thin"><%= @product.sku %></span></h1>
<% end %>


<!-- Side Bar -->
<%= render "products/sidebar" %>



<!-- MAIN CONTENT -->
<% content_for :main_content do %>

	<%= render "products/form" %>

<% end %>