<!-- toolbar -->
<%= render "products/index/toolbar" %>

<!-- search -->
<%= render "products/index/search" %>

<!-- titlebar -->
<% content_for :title_bar do %>
  <div class="row">
    <div class="small-12 columns">
      <section>
        <h1>Artikel</h1>
      </section>
    </div>
  </div>
<% end %>

<!-- sidebar -->
<%= render "products/index/sidebar" %>


<!-- main content -->
<% content_for :main_content do %>

  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
        <% @products.each do |p| %>
          <li>
            <%= link_to (image_tag p.default_image), product_path(p) %>

            <div class="panel">
              <h5><%= link_to p.name, product_path(p) %></h5>
              <span class="label" style="<%= product_color(p) %>"><%= p.color_text %></span>
              <h6 class="subheader"><%= number_to_currency(p.price, unit:"€ ") %></h6>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- END ITEMS -->

<% end %>

</div>


  
