<% @section = "Artikel" %>

<!-- Header -->

<% content_for :breadcrumbs do %>
  <div class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs">
        <li><%= link_to "Home", "/" %></li>
        <li><%= render "/layouts/breadcrumbs/sections" %></li>    
      </ul>
    </div>
  </div>
<% end %>

<% content_for :title_bar do %>
  <div class="row">
    <div class="large-9 small-9 columns">
      <h1 class="page-heading">Artikel</h1>
    </div>
    <div class="large-3 small-3 columns">
      <ul class="inline-list right">
        <li>
          <h2><%= link_to '', new_product_path, class: "ion-ios7-plus-outline toolbar" %></h2>
        </li>
        <li>
          <h2><%= link_to '', new_product_path, class: "ion-ios7-search toolbar" %></h2>
        </li>
      </ul>
    </div>
  </div>
<% end %>


<!-- End Header -->

<!-- MAIN CONTENT -->

<% content_for :main_content do %>
  
    <!-- Quick Filter -->

    <%= render "products/quickfilter" %>

    <!-- End Quickfilter -->


    <!-- Thumbnails -->

    <div class="row">
      <% @products.each do |p| %>
        <div class="large-4 medium-4 small-12 columns">
          <%= link_to (image_tag p.default_image), product_path(p) %>

          <div class="panel">
            <h5><%= link_to p.name, product_path(p) %></h5>
            <span class="label"><%= p.color_text %></span>
            <h6 class="subheader"><%= number_to_currency(p.price, unit:"€ ") %></h6>
          </div>
        </div>
      <% end %>
    </div>

    <!-- End Thumbnails -->


    <!-- Managed By -->

    <div class="row">
      <div class="large-12 medium-12 columns">
        <div class="panel">
          <div class="row">

            <div class="large-2 medium-2 small-6 columns">
              <img src="http://placehold.it/300x300&text=Site Owner">
            </div>

            <div class="large-10 medium-10 small-6 columns">
              <strong>This Site Is Managed By<hr/></strong>

              Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
            </div>

          </div>
        </div>
      </div>
    </div>

<!-- End Managed By -->

<% end %>

</div>


  
