<% @section = "Artikel" %>

<!-- Header -->

<% content_for :breadcrumbs do %>
	<div class="row">
		<div class="small-12 columns">
			<ul class="breadcrumbs">
				<li><%= link_to "Home", "/" %></li>
				<li><%= render "/layouts/breadcrumbs/sections" %></li>
				<li><%= render "/layouts/breadcrumbs/product_items" %></li>			
			</ul>
		</div>
	</div>
<% end %>

<% content_for :title_bar do %>
	<div class="row">
	  <div class="large-9 small-9 columns">
	    <h1 class="page-heading"><%= @product.name %> <small><%= @product.color_text %></small></h1>
	  </div>
	  <div class="large-3 small-3 columns">
	    <h2><%= link_to '', new_product_path, class: "ion-ios7-trash-outline toolbar right" %></h2>
	  </div>
  </div>
<% end %>

<!-- End Header -->

<!-- MAIN CONTENT -->

<% content_for :main_content do %>

	<div class="row">
	  <div class="small-12 medium-9 large-9 columns">

	  	<div class="panel">

		  	<h3>Allgemein</h3>
				<p>
					<label>Bezeichnung</label>
					<%= @product.name %>
				</p>

				<p>
					<label>Artikelnummer</label>
					<%= @product.sku %>
				</p>

				<p>
					<label>Farbe</label>
					<%= @product.color_text %>
				</p>

				<p>
					<label>Größensystem</label>
					<%= @product.size.try(:name) %>
				</p>

				<h3>Preis</h3>

				<p>
					<label>Preis</label>
					<%= number_to_currency(@product.price, unit: "€") %>
				</p>

				<p>
					<label>Mehrwertsteuer</label>
					<%= @product.vat %>
				</p>

			</div>

	  </div>

	  <div class="small-12 medium-3 large-3 columns">

	  	<div class="panel">

		  	<h3>Bilder</h3>
				<% @product.product_images.each do |product_image| %>
					<p><%= image_tag(product_image.image.url(:large)) %></p>
				<% end %>

			</div>

	  </div>
	</div>

	<div class="row">
		<div class="small-12 medium-3 large-3 columns">
		  <%= link_to 'Zurück', products_path, class: "button secondary expand" %>
  	</div>
  	<div class="small-12 medium-3 large-3 right columns">
  		<%= link_to "Bearbeiten", edit_product_path, class: "button expand" %>
  		<%= link_to "Löschen", @product, confirm: "Wirklich löschen?", method: :delete, class: "button expand alert" %>
  	</div>
	</div>



<% end %>