<!-- Navigation -->
<div class="fixed">

  <nav class="top-bar" data-topbar>

    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Lunge Manufaktur", "/" %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">

        <li class="has-dropdown">
          <%= link_to "Kontakte", contacts_path %>
          <ul class="dropdown">
            <li><%= link_to "Kontakte", contacts_path %></li>
            <li><%= link_to "Briefe", "#" %></li>
          </ul>
        </li>

        <li class="has-dropdown">
          <%= link_to "Aufträge", orders_path %>
          <ul class="dropdown">
            <li><%= link_to "Aufträge", orders_path %></li>
          </ul> 
        </li>

        <li class="has-dropdown">
          <%= link_to "Artikel", products_path %>
          <ul class="dropdown">
            <li><%= link_to "Artikel", products_path %></li>
            <li><%= link_to "Inventuren", "#" %></li>
            <li><%= link_to "Größensysteme", sizes_path %></li>
          </ul>
        </li>

        <li class="has-dropdown">
          <%= link_to "Produktion", "#" %>
          <ul class="dropdown">
            <li><%= link_to "Produktion", "#" %></li>
            <li><%= link_to "Arbeitsschritte", "#" %></li>
            <li class="has-dropdown">
              <%= link_to "Material", "#" %>
              <ul class="dropdown">
                <li><%= link_to "Materialien", "#" %></li>
                <li><%= link_to "Eingang", "#" %></li>
                <li><%= link_to "Ausgang", "#" %></li>
                <li><%= link_to "Inventur", "#" %></li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </section>
  </nav>

</div>


<!-- toolbar -->




