<div class="hide-for-small-only inverted" id="sidebar">
  <div class="main-sidebar-header">
    <p class="light inverted"><%= link_to "Lunge Manufaktur", :root %></p>
  </div>
  <ul class="main-sidenav">

    <li><h4 class="light small"><%= link_to "Kontakte", contacts_path %></h4></li>
    <li><%= link_to "Kontakte & Adressen", contacts_path %></li>
    <li><%= link_to "Briefe", "#" %></li>

    <li class="divider"></li>

    <li><h4 class="light small"><%= link_to "Auftr채ge", orders_path %></h4></li>
    <li><%= link_to "Favoriten", marked_orders_path %></li>
    <li><%= link_to "Alle Auftr채ge", orders_path %></li>
    <li><%= link_to "R체ckst채nde", "#" %></li>

    <li class="divider"></li>

    <li><h4 class="light small"><%= link_to "Artikel", products_path %></h4></li>
    <li><%= link_to "Schuhe", products_path %></li>
    <li><%= link_to "Inventuren", "#" %></li>
    <li><a href="#">Produktion</a></li>
    <li><a href="#">Material</a></li>
  </ul>
  <div class="logo text-center">
    <%= image_tag("logo.png", size: "100") %>
  </div>
</div>