<% content_for :sidebar do %>
  <div id="secondary-sidebar">
    <div class="secondary-sidebar-header">
      <%= search_form_for @search do |f| %>
        <%= f.search_field :name_or_sku_cont, placeholder: "Suchen...", id: "secondary-search-field" %>
      <% end %>
    </div>
    <ul class="side-nav">
      <h4 class="light small">Filter</h4>
      <%= content_tag :li, class: ("active" if @filter_selected == "all") do %>
        <%= link_to "Alle", products_path %>
      <% end %>
      <%= content_tag :li, class: ("active" if @filter_selected == "all") do %>
        <%= link_to "Adagio", products_path %>
      <% end %>
      <%= content_tag :li, class: ("active" if @filter_selected == "all") do %>
        <%= link_to "C-Dur & a-Moll", products_path %>
      <% end %>
      <%= content_tag :li, class: ("active" if @filter_selected == "all") do %>
        <%= link_to "Vivo", products_path %>
      <% end %>
      <%= content_tag :li, class: ("active" if @filter_selected == "all") do %>
        <%= link_to "Fis", products_path %>
      <% end %>
      <%= content_tag :li, class: ("active" if @filter_selected == "all") do %>
        <%= link_to "Accento", products_path %>
      <% end %>
      <%= content_tag :li, class: ("active" if @filter_selected == "all") do %>
        <%= link_to "Gomax", products_path %>
      <% end %>
    </ul>
  </div>
<% end %>